/* Placeholder for custom CSS */  

.siteLogo img {
	display: none;
}

.hidden {
	display: none !important;
}

.siteLogo {
	background-image: url("http://doku.ub.gu.se/nuxeo/img/gub-dokhem-logo.png");
	background-repeat: no-repeat;
	height: 40px;
	width: 300px;
	margin-left: 10px !important;
}



.footerDefaultLinks {
	display: none;
}

#nxw_userActions_panel {
	display: none;
}


.searchesSelector {
	display: none;
}


.themeCellFrame.column {
	display: none;
}